@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  height: 100vh;
  background-color: #fff;
  font-size: 16px;
}
body {
  font-size: 16px;
  color: #000;
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
  &:active,
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}
input {
  outline: none;
}

.header-img {
  width: 100%;
  height: auto;
}

.inner {
  position: relative;
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: 9.6rem; */
}

.header-frame {
  display: flex;
  width: 75rem;
  justify-content: space-between;
  align-items: center;
}
