@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  height: 100vh;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

body {
  font-size: 16px;
  color: #000;
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
  &:active,
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}
input {
  outline: none;
}

.inner {
  position: relative;
  /* width: 1440px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 모바일 화면 (화면 너비 600px 이하) */
@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .inner {
    width: 90%;
  }
}

/* 태블릿 화면 (화면 너비 601px에서 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .inner {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .inner {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .inner {
    width: 90%;
  }
}

@media (min-width: 1281px) and (max-width: 1536px) {
  html {
    font-size: 16px;
  }
  .inner {
    width: 90%;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
  .inner {
    width: 1440px;
  }
}
